
.modal {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  /* width: 50%; */
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

progress {
  background-color: green;
}

td {
  text-align: center;
}

/* Hide carousel arrows when reaching end */
.flickity-prev-next-button:disabled { display: none; }



.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid rgb(99, 99, 14); */
}

.flex-child:first-child {
  margin-right: 20px;
  /* flex-grow: 2; */
}
.flex-child:nth-child(2) {
  margin-right: 20px;
  flex-grow: 9;
}