
.modal {
  position: relative;
  z-index: 1;
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.comp {
 position: absolute;
 left: 30%;
 /* pointer-events:none */
}

td {
  overflow:hidden;
  white-space:nowrap;
  text-align: center;
}

/* START OF RATINGS AND REVIEWS CSS */

progress {
  background-color: green;
}

.content-container {
  padding: 1%;
  height: 100vh;
  font-size: 16px;
}

.row {
  display: flex;
  height: 100%;
}

.left-panel {
  flex: 3;
}

.right-panel {
  flex: 7;
}

.scrollable {
  height: 800px;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}

.modalPhoto {
  position: relative;
  z-index: 1;
}

.modalPhoto-content {
  background-color: #fefefe;
  width: 700px;
  height: 490px;
  position: absolute;
  top: 10%;
  left: 0%;
  padding: 20px;
  border: 2px solid black;
  /* width: 80%; */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* END OF RATINGS AND REVIEWS CSS */


/* Hide carousel arrows when reaching end */
/* .flickity-prev-next-button:disabled { display: none; } */

.qbutton {
  display: flex;
  position: relative;
  margin-left: 30em;
  height: 3vh;
  margin-bottom: 4em;
  color: white
}

.flex-container {
  display: flex;
  width: 50%;
}

.flex-child {
  flex: 1;
  /* border: 2px solid rgb(99, 99, 14); */
}

.flex-child:first-child {
  margin-right: 20px;
  /* flex-grow: 2; */
  flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}
.flex-child:nth-child(2) {
  margin-right: 20px;
  flex-grow: 1;
}

.relatedCarouselOutfit {
  display: flex;
  /* border: 10px solid orange; */
  width: 50%;
}

.relatedCarousel {
  display: flex;
  /* border: 10px solid orange; */
  width: 50%;
}


.RelatedCarouselItem {
  flex-grow: 1;
}



.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.carouselContainer {
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
  overflow-x: scroll;
  /* overflow-y: visible; */
}




.carouselContainer::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
  display: none;
}

.carouselContainer::-webkit-scrollbar-thumb {
  background-color: black;
}

/* .left_disabled { display: none; } */