<html>
  <head>
    <style>
      #root {
        display: flex;
      }

      .block {
        color: white;
        background-color: green;
        border: 1px solid black;
      }

      .block1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .block2 {
        height: 200px;
      }
    </style>

  </head>
  <body>
    <div id="root">
      <div class="block block1">
        <div>Block 1</div>
        <div>A</div>
      </div>

      <div class="block block2">
        Block 2
      </div>

      <div class="block">
        Block 3
      </div>
    </div>
  </body>
</html>